__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
README.md
*.md
.vscode
.idea
venv
env
.env
*.log
.DS_Store
old_app
k8s
nginx
list.yaml
# Keep ollama binary
!app/ollama

